<!DOCTYPE html>
<html>
<body>

    {% if user_images %}
    <h1>Click on image to download.</h1>
        {%for name in user_images%}
            <a download="custom-filename.jpg" href="{{url_for('upload', filename=name)}}" title={{name}}>
                <img alt="ImageName" src="{{url_for('upload', filename=name)}}">
            </a>

        {%endfor%}
    {% else %}
        Please refresh the page to get the output. The script is still running.
        <FORM>
        <INPUT Type="button" VALUE="Reload Page" onClick="history.go(0)">
        </FORM>
    {% endif %}
</body>
</html>